<html>
<head>
	<title>CIRIUS-FW利用ガイド（オンライン）</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
</head>
<body>
</body>
<form action="processInput">
出发城市名:<input type="text" name="fromCityName"/><br/>
出发城市代码<input type="text" name="fromCityCode"/><br/>
出发城市名 <input type="text" name="toCityName"/><br/>
出发城市代码<input type="text" name="toCityCode"/><br/>
出发日期<input type="text" name="fromDate"/><br/>
返回日期<input type="text" name="toDate"/><br/>
目标价格<input type="text" name="targetPrice"/><br/>
</form>
</html> 


